.block{
    display: flex;
    height: 30px;
    margin: 20px auto;
    border: 2px solid #005cbf;
    justify-content: space-between;
    align-items: center;
}

.active2{
    display: flex;
    height: 30px;
    margin: 20px auto;
    border: 2px solid firebrick;
    justify-content: space-between;
    align-items: center;
}


li{
    text-decoration: none;
}

strong{
    margin-left: 20px;
}

small {
    margin-left: 20px;
}

.buttons{

}

.edit{

}

.delete{

}