.header {
    background: #005cbf;
    display: flex;
    align-items: center;
    width: 1200px;
    margin: auto;
    justify-content: flex-start;
    height: 90px;
}
.header__logo img{
    margin-left: 20px;
}

.header__nav_list {
    list-style: none;
    display: flex;
}

.header__nav_list li:not(:last-child) {
    padding-right: 32px;
}

.header__nav_list a {
    text-decoration: none;
    color: #FFFFFF;
    padding-bottom: 16px;
    font-size: 22px;
    font-weight: 400;
}

.header__nav_list a:hover {
    border-bottom: 2px solid firebrick;
}

.active_link{
    border-bottom: 2px solid firebrick;
}